h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('2', 'Responsabilidades y Deberes que genera la Política de Participación Social en Salud.', 'main.html#page/Deberes/')
                    +navTemaItem('3', 'Mecanismos y espacios de participación.', 'main.html#page/mecanismos/')
                    +navTemaItem('4', 'Estrategias Operativas.', 'main.html#page/estrategias/')
                    