h2  Resultado de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Fortalecer las capacidades de los servidores públicos, trabajadores de la salud y ciudadanía para ejercer el derecho a la participación teniendo en cuenta la ley estatutaria.
            li 
                span Desarrollar acciones de participación social en salud en el marco del derecho a la salud.
       




