.container#page-tema-2
    
    .header-ecored.text-dark
        h1 2. Mecanismos y espacios de participación.

    .jumbotron.bg-white 
         .row.justify-content-center.align-items-center

         p 
            | La Política de Participación Social en Salud establece mecanismos con el propósito de promover el derecho de la
            | participación el Ministerio de Salud y Protección Social, las entidades territoriales, EPS e IPS, se fortalecerán 
            | e implementarán escenarios, según el caso, para estimular la participación para el cumplimiento de los objetivos de la PPSS. 

         p En todo caso, las instancias mencionadas deberán cumplir como mínimo con los siguientes criterios, para promover el derecho de la participación en salud:

         .row.justify-content-center.align-items-center
          .col.d-flex.justify-content-center.my-5
            img(src="assets/images/pages/tema-3/img_01.svg", alt="").img-fluid

         p 
         | De acuerdo con los principios orientadores de territorialidad, enfoque de derechos, diversidad, solidaridad, autonomía, equidad, transparencia y corresponsabilidad 
         | las entidades territoriales e instituciones del sector, en el marco de sus competencias, deberán generar los espacios de participación que se conformen alrededor de 
         | los programas de salud, para que la ciudadanía y las organizaciones participen en procesos de salud pública y control social, entre ellos se encuentran:

         .row.justify-content-center.mt-3

            .col-10.col-md-8
                .card-media(style="background: #fff;").border: #000
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-3/icon-1.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Los comités de ética hospitalaria]

                        hr.border-color-primary.border-2

                        p 
                        | Son grupos interdisciplinarios que se ocupan de las consultas, estudio, consejo y docencia frente a los dilemas éticos que surgen en la práctica de 
                        | la atención médica hospitalaria. Tiene como objetivo fundamental velar porque se respeten los derechos de los pacientes, dentro de los parámetros de 
                        | ética profesional y de calidad de los servicios. Debe existir en todas las IPS, y debe estar integrado por representantes de las formas organizativas 
                        | de salud y por funcionarios de la IPS o de la Empresa Social del Estado.

            .col-10.col-md-8
                .card-media(style="background: #fff;").border: #000
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-3/icon-2.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Asociaciones de pacientes]

                        hr.border-color-primary.border-2

                        p 
                        | Son grupos de personas naturales o jurídicas que comparten una patología, afiliadas a la misma o diferentes EPS que reciben los servicios de salud en una 
                        | o varias IPS. No tienen una norma legal que autorice de manera específica su creación, pueden organizarse como cualquier forma asociativa, de hecho, algunas 
                        | lo hacen bajo la modalidad de fundaciones o corporaciones, siempre bajo la condición de ser instituciones sin ánimo de lucro.

            .col-10.col-md-8
                .card-media(style="background: #fff;").border: #000
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-3/icon-3.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Consejos Territoriales de seguridad social en salud (CTSSS)]

                        hr.border-color-primary.border-2

                        p 
                        | Son los espacios considerados con más alto grado de incidencia y producen insumos para la toma de decisiones y el desarrollo de políticas concertadas frente al 
                        | Sistema General de Seguridad Social en Salud (SGSSS) y su participación en la construcción, seguimiento y monitoreo de los planes territoriales de salud, teniendo 
                        | en cuenta las características particulares como la situación de salud y las necesidades e intereses de cada uno de los actores que lo conforman.

                        p
                        | Los CTSSS están conformados por la entidad territorial, los prestadores de servicios de salud, los administradores de planes de beneficios, los empleadores y trabajadores, 
                        | las asociaciones de usuarios, los profesionales de la salud y la comunidad en general. La importancia de este espacio de participación radica en la jerarquía de sus integrantes, 
                        | así como en sus funciones de asesoría a las direcciones locales de salud, de promoción de la descentralización y del aseguramiento a la población más pobre y vulnerable, así como 
                        | también en el análisis y aprobación de los planes territoriales de salud.

            .col-10.col-md-8
                .card-media(style="background: #fff;").border: #000
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-3/icon-4.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Comités de participación comunitaria (COPACOS)]

                        hr.border-color-primary.border-2

                        p 
                        | Es “una agrupación de afiliados del régimen contributivo y subsidiado, del Sistema General de Seguridad Social en Salud, que tienen derecho a utilizar unos servicios de 
                        | salud, de acuerdo con su sistema de afiliación, que velarán por la calidad del servicio y la defensa del usuario”. Ministerio de Salud (3 de agosto de 1994) Artículo 10 
                        | [Capitulo IV]. por el cual se organizan y establecen las modalidades y formas de participación social en la prestación de servicios de salud [Ley 1757 de 1994] DO: 41.477

                        p
                        | Por medio de los COPACOS se busca generar espacios de discusión y concertación entre los diferentes representantes del territorio el Estado, representado en el alcalde, 
                        | las Direcciones Locales de Salud, la gerencia de los Hospitales y las formas organizativas, sociales y comunitarias del territorio municipal.

                        p
                        |El COPACO es un actor con representación institucional y comunitaria, es un referente del sector en los procesos de planificación y de control social, que gestiona la 
                        | inclusión de planes, programas y prioridades en salud, participa en la toma de decisiones y en la distribución, seguimiento y evaluación de recursos de acuerdo con las fuentes de financiación.

            .col-10.col-md-8
                .card-media(style="background: #fff;").border: #000
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-3/icon-5.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Alianzas o Asociaciones de Usuarios]

                        hr.border-color-primary.border-2

                        p 
                        | Es “una agrupación de afiliados del régimen contributivo y subsidiado, del Sistema General de Seguridad Social en Salud, que tienen derecho a utilizar unos servicios 
                        | de salud, de acuerdo con su sistema de afiliación, que velarán por la calidad del servicio y la defensa del usuario”. Ministerio de Salud (3 de agosto de 1994) 
                        | Artículo 10 [Capitulo IV]. por el cual se organizan y establecen las modalidades y formas de participación social en la prestación de servicios de salud [Ley 1757 de 1994] DO: 41.477

                        p
                        | Las alianzas o asociaciones, además de ser un canal de comunicación entre los usuarios y las entidades prestadoras de servicios, recogen y hacen seguimiento a las sugerencias, recomendaciones, 
                        | inquietudes y planes de mejoramiento de los usuarios, referidos a la calidad y oportunidad de los servicios en salud, defendiendo sus necesidades, peticiones y derechos.

            .col-10.col-md-8
                .card-media(style="background: #fff;").border: #000
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-3/icon-6.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Veedurías Ciudadanas]

                        hr.border-color-primary.border-2

                        p 
                        | Son mecanismos democráticos de representación de los ciudadanos o de las organizaciones comunitarias, que permite vigilar la gestión pública de autoridades y entidades estatales o privadas, 
                        | o de organizaciones no gubernamentales, en aquellos ámbitos, aspectos y niveles en los que total o parcialmente se empleen los recursos públicos.

                        
